<!----------------------------------------------------------------------------->
<!-- start page -->
<div id="page">

  <!-- start content -->
  <div id="content">

    <div class="section">
      <h1 class="title"><a href="#">[Chapter Title]</a></h1>
      <p class="byline">
        <small>Posted on October 1st, 2007 by <a href="#">Free CSS Templates</a></small></p>
      <div class="entry">
        <p><strong>Description</strong> is a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attributions 2.5</a> license, so you're pretty much free to do whatever you want with it  (even use it commercially) provided you keep the links in the footer intact. Have fun with it :)</p>
        <p>This template is also available as a <a href="http://www.freewpthemes.net/preview/Description/">WordPress theme</a> at <a href="http://www.freewpthemes.net/">Free WordPress Themes</a>.</p>
        <p class="links"><a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">No Comments</a></p>
      </div>
    </div>

    <div class="segment">
      <h1 class="title"><a href="#">[Dealership Title]</a></h1>
      <p class="byline"><small>Posted on October 1st, 2007 by <a href="#">Free CSS Templates</a></small></p>
      <div class="entry">
        <h3>An H3 Followed by a Blockquote:</h3>
        <blockquote>
          <p>
            &#8220;Donec leo, vivamus nibh in augue at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.&#8221;
          </p>
        </blockquote>
        <h3>Bulleted List:</h3>
        <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Phasellus nec erat sit amet nibh pellentesque congue.</li>
                <li>Cras vitae metus aliquam risus pellentesque pharetra.</li>
        </ul>
        <h3>Numbered List:</h3>
        <ol>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                  <li>Phasellus nec erat sit amet nibh pellentesque congue.</li>
                <li>Cras vitae metus aliquam risus pellentesque pharetra.</li>
        </ol>
        <p class="links"><a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">No Comments</a></p>
      </div>
  </div>
</div>
<!----------------------------------------------------------------------------->

<!----------------------------------------------------------------------------->
  <!-- start sidebar 1 -->
  <div id="sidebar1" class="sidebar">
  <ul>
    <li>
      <h2>Primary Officers</h2>
      <ul>
        <li><a href="#">Aliquam libero</a></li>
        <li><a href="#">Consectetuer adipiscing elit</a></li>
        <li><a href="#">Metus aliquam pellentesque</a></li>
        <li><a href="#">Suspendisse iaculis mauris</a></li>
        <li><a href="#">Urnanet non molestie semper</a></li>
        <li><a href="#">Proin gravida orci porttitor</a></li>
      </ul>
    </li>
    <li>
      <h2>Discretionary Officers</h2>
      <ul>
        <li><a href="#">Free CSS Templates</a> on <a href="#">Aliquam libero</a></li>
        <li><a href="#">Free CSS Templates</a> on <a href="#">Consectetuer adipiscing elit</a></li>
        <li><a href="#">Free CSS Templates</a> on <a href="#">Metus aliquam pellentesque</a></li>
        <li><a href="#">Free CSS Templates</a> on <a href="#">Suspendisse iaculis mauris</a></li>
        <li><a href="#">Free CSS Templates</a> on <a href="#">Urnanet non molestie semper</a></li>
        <li><a href="#">Free CSS Templates</a> on <a href="#">Proin gravida orci porttitor</a></li>
      </ul>
    </li>
    <li>
      <h2>Road Captains</h2>
      <ul>
        <li><a href="#">Aliquam libero</a></li>
        <li><a href="#">Consectetuer adipiscing elit</a></li>
        <li><a href="#">Metus aliquam pellentesque</a></li>
        <li><a href="#">Suspendisse iaculis mauris</a></li>
        <li><a href="#">Urnanet non molestie semper</a></li>
        <li><a href="#">Proin gravida orci porttitor</a></li>
      </ul>
    </li>
    <li>
      <h2>Ladies of Harley</h2>
      <ul>
        <li><a href="#">September</a> (23)</li>
        <li><a href="#">August</a> (31)</li>
        <li><a href="#">July</a> (31)</li>
        <li><a href="#">June</a> (30)</li>
        <li><a href="#">May</a> (31)</li>
      </ul>
    </li>
  </ul>
</div>
<!----------------------------------------------------------------------------->

<!----------------------------------------------------------------------------->
  <!-- start sidebar 2 -->
  <div id="sidebar2" class="sidebar">
    <ul>
      <li>
        <h2>Search</h2
        <%= render "common/search_form" %>
        <!-- search form -->
        <!--
        <form id="searchform" method="get" action="#">
          <div>
            <input type="text" name="s" id="s" size="15" value="" />
            <br />
            <input type="submit" value="Search" id="x" />
          </div>
        </form>
        -->
      </li>
      <li>
        <h2>Calendar</h2>
        <%= render "common/calendar_small" %>
      </li>
      <li>
      <!-- calendar small -->
      </li>
      <li>
        <h2>Categories</h2>
        <ul>
          <li><a href="#">Aliquam libero</a></li>
          <li><a href="#">Consectetuer adipiscing elit</a></li>
          <li><a href="#">Metus aliquam pellentesque</a></li>
          <li><a href="#">Suspendisse iaculis mauris</a></li>
          <li><a href="#">Urnanet non molestie semper</a></li>
          <li><a href="#">Proin gravida orci porttitor</a></li>
          <li><a href="#">Aliquam libero</a></li>
          <li><a href="#">Consectetuer adipiscing elit</a></li>
          <li><a href="#">Metus aliquam pellentesque</a></li>
          <li><a href="#">Urnanet non molestie semper</a></li>
          <li><a href="#">Proin gravida orci porttitor</a></li>
          <li><a href="#">Aliquam libero</a></li>
          <li><a href="#">Consectetuer adipiscing elit</a></li>
          <li><a href="#">Metus aliquam pellentesque</a></li>
          <li><a href="#">Suspendisse iaculis mauris</a></li>
          <li><a href="#">Urnanet non molestie semper</a></li>
          <li><a href="#">Proin gravida orci porttitor</a></li>
        </ul>
      </li>
    </ul>
  </div>
<!----------------------------------------------------------------------------->

<div style="clear: both;">&nbsp;</div>
</div>
