<p>
  &copy;<%= Date.today.year %>&nbsp;&nbsp;
  All Rights Reserved, WildFire Cybernetics LLC
  &nbsp;&nbsp;&bull;&nbsp; Design by
  <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>
</p>