<h2>Primary Officers</h2>
<ul>
  <li><%= link_to "[Director]", root_path %></li>
  <li><%= link_to "[Assistant Director]", root_path %></li>
  <li><%= link_to "[Secretary]", root_path %></li>
  <li><%= link_to "[Treasurer]", root_path %></li>
</ul>
